<!doctype html>
<html>

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title><%=_('query.where(\'field_name\', \'==\', \'organisation_name\')[0].field_value')%> - Environmental Monitoring System</title>

  <link rel="icon" type="image/ico" href="/favicon.ico" dmx-bind:href="sc_security_app_data.data.query.where(`field_name`, 'favicon', '==')[0].field_value">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="/fontawesome6/css/all.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <link rel="stylesheet" href="assets/css/main/app.css" />
  <link rel="stylesheet" href="assets/css/main/app-dark.css" />

  <link rel="shortcut icon" href="assets/images/logo/favicon.svg" type="image/x-icon" />
  <link rel="shortcut icon" href="assets/images/logo/favicon.png" type="image/png" />

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>

  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/daterangepicker.min.css" />
  <script src="/dmxAppConnect/dmxDatePicker/daterangepicker.min.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/dmxDatePicker.css" />
  <script src="/dmxAppConnect/dmxDatePicker/dmxDatePicker.js" defer></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
  <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>


  <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxMediumEditor/medium-editor.css" />
  <script src="/dmxAppConnect/dmxMediumEditor/medium-editor.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxMediumEditor/dmxMediumEditor.css" />
  <script src="/dmxAppConnect/dmxMediumEditor/dmxMediumEditor.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxMediumEditor/themes/default.css" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
  <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer></script>
  <script src="/dmxAppConnect/dmxDatastore/dmxDatastore.js" defer></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <script src="/dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer></script>



  <script src="/dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
  <script src="/dmxAppConnect/dmxBootstrap5PagingGenerator/dmxBootstrap5PagingGenerator.js" defer></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

  <style>
    .sidebar-item.active>a,
    .submenu-item.active>a {
      background-color: rgba(255, 255, 255, 0.1);
      font-weight: bold;
    }

    .sidebar-item.active>.submenu {
      display: block;
    }

    /* .sidebar-link.active {
      background-color: #435ebe;
      color: white;
    } */
  </style>


  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/bgthemes/bootstrap.css" />
</head>

<body is="dmx-app" id="portal_layout">
  <dmx-query-manager id="query"></dmx-query-manager>
  <dmx-datetime id="var_datetime" interval="minutes"></dmx-datetime>
  <dmx-notifications id="notifies1"></dmx-notifications>
  <div is="dmx-browser" id="browser"></div>
  <dmx-serverconnect id="sc_logout" url="/api/security/logout"></dmx-serverconnect>
  <dmx-serverconnect id="sc_logged_in" url="/api/users/logged_in_user"></dmx-serverconnect>
  <dmx-serverconnect id="sc_security_app_data" url="/api/app_settings/security_app_data"></dmx-serverconnect>

  <div id="app">
    <!-- Side Bar -->
    <div id="sidebar" class="active">
      <div class="sidebar-wrapper active">
        <div class="sidebar-header position-relative">
          <div class="d-flex justify-content-between align-items-center">
            <div class="logo">
              <a href="/"><img alt="Logo" srcset="" dmx-bind:src="sc_security_app_data.data.query.where(`field_name`, 'logo', '==')[0].field_value"></a>
            </div>
            <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--system-uicons" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">
                <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2" opacity=".3"></path>
                  <g transform="translate(-210 -1)">
                    <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                    <circle cx="220.5" cy="11.5" r="4"></circle>
                    <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path>
                  </g>
                </g>
              </svg>
              <div class="form-check form-switch fs-6">
                <input class="form-check-input me-0" type="checkbox" id="toggle-dark" style="cursor: pointer" />
                <label class="form-check-label"></label>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path fill="currentColor" d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"></path>
              </svg>
            </div>
            <div class="sidebar-toggler x">
              <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
          </div>
        </div>
        <div class="sidebar-menu">
          <ul class="menu">
            <li class="sidebar-item">
              <a class="sidebar-link" href="/dashboard">
                <i class="bi bi-grid-fill"></i>
                <span>Dashboard</span>
              </a>
            </li>

            <li class="sidebar-item has-sub">
              <a class="sidebar-link" href="/noise">
                <i class="bi bi-soundwave"></i>
                <span>Noise</span>
              </a>
              <ul class="submenu">
                <li class="submenu-item">
                  <a class="sidebar-link" href="/noise">Recent</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="/noise-data">Noise Data</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="/noise-insights">Noise Insights </a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item has-sub">
              <a class="sidebar-link" href="/air-quality">
                <i class="bi bi-cloud-fog2"></i>
                <span>Air Quality</span>
              </a>
              <ul class="submenu">
                <li class="submenu-item">
                  <a class="sidebar-link" href="/air-quality">Recent</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="/air-data">Air Data</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="/air-insights">Air Insights</a>
                </li>
              </ul>
            </li>



            <li class="sidebar-item has-sub">
              <a class="sidebar-link" href="/water-quality">
                <i class="bi bi-water"></i>
                <span>Water Quality</span>
              </a>
              <ul class="submenu">
                <li class="submenu-item">
                  <a class="sidebar-link" href="/water-quality">Recent</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="/water-data">Water Data</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="/water-insights">Water Insights </a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item has-sub">
              <a class="sidebar-link" href="#">
                <i class="bi bi-water"></i>
                <span>Water Usage</span>
              </a>
              <ul class="submenu">
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Recent</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Water Usage Data</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Water Usage Insights</a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <i class="bi bi-tree-fill"></i>
                <span>Soils</span>
              </a>
              <ul class="submenu">
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Recent</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Soils Data</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Soils Insights</a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <i class="bi bi-tree-fill"></i>
                <span>Biodiversity</span>
              </a>
              <ul class="submenu">
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Recent</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Biodiversity Data</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Biodiversity Insights</a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <i class="bi bi-recycle"></i>
                <span>Waste Management</span>
              </a>
              <ul class="submenu">
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Recent</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Waste Management Data</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Waste Management Insights</a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <i class="bi bi-gear-wide-connected"></i>
                <span>Administration</span>
              </a>
              <ul class="submenu">
                <li class="submenu-item">
                  <a class="sidebar-link" href="/add-monitoring-location">Monitoring Locations</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Users</a>
                </li>
                <li class="submenu-item">
                  <a class="sidebar-link" href="#">Settings</a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item">
              <a href="https://zuramai.github.io/mazer/docs" class="sidebar-link">
                <i class="bi bi-life-preserver"></i>
                <span>Documentation</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!-- NavBar -->
    <div id="main" class="layout-navbar navbar-fixed">
      <header class="mb-3" id="layout_portal_header">
        <nav class="navbar navbar-expand navbar-light navbar-top">
          <div class="container-fluid">
            <a href="#" class="burger-btn d-block">
              <i class="bi bi-justify fs-3"></i>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-lg-0">
                <li class="nav-item dropdown me-1">

                </li>
                <li class="nav-item dropdown me-3">

                </li>
              </ul>
              <div class="dropdown">
                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="user-menu d-flex">
                    <div class="user-name text-end me-3">
                      <h6 class="mb-0 text-gray-600" dmx-text="sc_logged_in.data.logged_in_user.firstname+' '+sc_logged_in.data.logged_in_user.lastname"></h6>
                      <p class="mb-0 text-sm text-gray-600" dmx-text="sc_logged_in.data.logged_in_user.role"></p>
                    </div>
                    <div class="user-img d-flex align-items-center">
                      <div class="avatar avatar-md">
                        <img src="assets/images/faces/1.jpg" />
                      </div>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="min-width: 11rem">

                  <li>
                    <a class="dropdown-item" href="#"><i class="icon-mid bi bi-person me-2"></i> My
                      Profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/change-password"><i class="icon-mid bi bi-person-lock"></i> Change My Password</a>
                  </li>

                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" dmx-on:click="sc_logout.load({});browser.goto('/')"><i class="icon-mid bi bi-box-arrow-left me-2"></i>
                      Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <div id="main-content">

        <div is="dmx-view" id="content">
          <%- await include(content, locals); %>
        </div>


        <!-- <footer>
            <div class="footer clearfix mb-0 text-muted">
              <div class="float-start">
                <p>2021 &copy; Mazer</p>
              </div>
              <div class="float-end">
                <p>
                  Crafted with
                  <span class="text-danger"
                    ><i class="bi bi-heart-fill icon-mid"></i
                  ></span>
                  by <a href="https://ahmadsaugi.com">Saugi</a>
                </p>
              </div>
            </div>
          </footer> -->
      </div>
    </div>
  </div>

  <!-- <script>
    $(document).ready(function() {
  // Function to set active class
  var setActiveClass = function(clickedItem) {
    // Remove "active" class from all sidebar items
    $(".sidebar-item, .submenu-item").removeClass("active");

    // Add "active" class to the clicked sidebar item
    clickedItem.addClass("active");

    // If it's a submenu item, also add "active" class to its parent sidebar item
    if (clickedItem.hasClass("submenu-item")) {
      clickedItem.closest(".sidebar-item").addClass("active");
    }

    // Store the active item in localStorage
    localStorage.setItem("activeSidebarItem", clickedItem.find(".sidebar-link").attr("href"));
  };

  // Add click event listener to each sidebar item
  $(".sidebar-item, .submenu-item").on("click", function() {
    setActiveClass($(this));
  });

  // Set "active" class on page load based on localStorage or default to Dashboard
  var storedActiveItem = localStorage.getItem("activeSidebarItem");
  var defaultActiveItem = '/dashboard';
  var activeItem = storedActiveItem ? storedActiveItem : defaultActiveItem;
  console.log(activeItem)

  var initialActiveItem = $(`.sidebar-link[href="${activeItem}"]`);
  if (initialActiveItem.length > 0) {
    setActiveClass(initialActiveItem.closest('.sidebar-item'));
  }
});






  </script> -->

  <!-- <script>
    document.addEventListener('DOMContentLoaded', (event) => {
    const sidebarItems = document.querySelectorAll('.sidebar-item.has-sub');
    const sidebarLinks = document.querySelectorAll('.sidebar-link');
    
    // Function to expand or collapse submenu
    const toggleSubmenu = (item) => {
      item.classList.toggle('expanded');
      const submenu = item.querySelector('.submenu');
      if (submenu.style.display === 'block') {
        submenu.style.display = 'none';
      } else {
        submenu.style.display = 'block';
      }
    };

    // Load the state of the sidebar from local storage
    sidebarItems.forEach(item => {
      const link = item.querySelector('.sidebar-link');
      const href = link.getAttribute('href');
      if (localStorage.getItem(href) === 'expanded') {
        item.classList.add('expanded');
        item.querySelector('.submenu').style.display = 'block';
      }
    });

    // Load the active submenu item from local storage
    sidebarLinks.forEach(link => {
      if (link.getAttribute('href') === localStorage.getItem('activeLink')) {
        link.classList.add('active');
      }
    });

    // Add click event listeners to sidebar links
    sidebarLinks.forEach(link => {
      link.addEventListener('click', (e) => {
        const parentItem = link.closest('.sidebar-item.has-sub');
        if (parentItem) {
          e.preventDefault();
          toggleSubmenu(parentItem);

          // Save the state of the submenu in local storage
          const href = link.getAttribute('href');
          if (parentItem.classList.contains('expanded')) {
            localStorage.setItem(href, 'expanded');
          } else {
            localStorage.removeItem(href);
          }
        }

        // Highlight the active submenu item
        sidebarLinks.forEach(l => l.classList.remove('active'));
        link.classList.add('active');

        // Save the active link in local storage
        localStorage.setItem('activeLink', link.getAttribute('href'));
      });
    });
  });
  </script> -->


  <!-- <script src="/js/sidebar/sidebar-functionality.js" async="true"></script> -->

  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/app.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>


  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>




</body>

</html>