<!-- Wappler include head-page="layouts/portal_layout" is="dmx-app" id="adduser" appConnect="local" bootstrap5="local" fontawesome_6="local" bootstrap_icons="local" jquery_slim_35="cdn" components="{dmxBootstrap5Navigation:{}}" -->
<meta name="ac:route" content="/add-user">

<section>
    <div class="row text-end">

        <div class="col text-start">
            <h1 class="fw-normal fs-2">Add User</h1>
            <div class="breadcrumb">
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/dashboard">Dashboard</a>
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-light">Users</a>
                <a class="breadcrumb-item breadcrumb-link fw-bold" href="#">Add User</a>
            </div>
        </div>
    </div>
</section>



<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" novalidate="" method="post" dmx-on:success="scf_add_monitoring_location.reset();notifies1.success('Monitoring location successfully added.')" is="dmx-serverconnect-form" id="scf_add_user" action="/api/location/add_monitoring_location">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="latitude" class="col-form-label">Firstname</label>
                                        <input id="latitude" class="form-control" name="firstname" is="dmx-input" value="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="longitude" class="col-form-label">Lastname</label>
                                        <input id="longitude" class="form-control" name="lastname" is="dmx-input" value="">
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mb-3"> <label for="username" class="form-label">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" aria-describedby="input1_help" placeholder="e.g. John_doe">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mb-3"> <label for="add_email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="add_email" name="email" aria-describedby="input1_help">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mb-3"> <label for="phone" class="form-label">Phone Number</label>
                                        <input class="form-control" id="phone" name="phone" aria-describedby="input1_help" placeholder="e.g. 078000000" type="tel">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" dmx-on:click="scf_add_monitoring_location.submit()">Add User &nbsp;<span class="spinner-border spinner-border-sm" role="status" dmx-show="scf_add_monitoring_location.state.executing"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>