<!-- Wappler include head-page="layouts/securityLayout" bootstrap5="local" is="dmx-app" id="resetpassword" appConnect="local" fontawesome_6="local" components="{dmxStateManagement:{},dmxBootstrap5Alert:{},dmxValidator:{}}" -->

<meta name="ac:route" content="/change-password">
<style>
    main {
        margin-left: 0 !important;
    }
</style>
<main class="p-4 style1" id="change_password_page">
    <div class="container card card-body shadow" id="change_password_form">
        <div class="row p-4 justify-content-center">
            <div class="col">
                <form id="scf_change_password" method="post" is="dmx-serverconnect-form" action="/api/security/change_password" dmx-on:success="alertmessage.setTextContent('Password changed successfully');alertmessage.setType('success');alertmessage.show();scf_change_password.reset()" dmx-on:unauthorized="alertmessage.setType('danger');alertmessage.setTextContent(lastError.response);alertmessage.show()">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-center">
                                    <a href="/"><img class="img-fluid" width="80px" dmx-bind:src="sc_security_app_data.data.query.where(`field_name`, 'logo', '==')[0].field_value"></a>

                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col text-center">
                                    <h1>Change Password</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="alert" id="alertmessage" is="dmx-bs5-alert" role="alert" type="danger">
                                        <p>Alert message</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" dmx-show="varSuccess.value==1">
                                <div class="col">
                                    <a href="/login" internal=""> <i class="fas fa-long-arrow-alt-left"></i> Return to Login</a>
                                </div>
                            </div>
                            <div class="row mt-4" dmx-hide="varSuccess.value==1">
                                <div class="col">
                                    <label for="inp_change_password_old" class="col-form-label">Old Password</label>


                                    <div class="input-group mb-3">

                                        <input type="password" id="inp_change_password_old" name="password" class="form-control" placeholder="*************" aria-describedby="basic-addon-password" aria-label="password" required="" data-msg-required="password is required.">
                                        <input id="user_id" name="user_id" type="hidden" class="form-control" dmx-bind:value="sc_loggedin.data.logged_in_user.user_id">
                                        <span id="toggle" class="input-group-text">
                                            <i class="fas fa-eye-slash"></i>
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4" dmx-hide="varSuccess.value==1">
                                <div class="col">
                                    <label for="inp_change_password_new" class="col-form-label">New Password</label>


                                    <div class="input-group mb-3">

                                        <input type="password" id="inp_change_password_new" name="new_password" class="form-control" placeholder="*************" aria-describedby="basic-addon-password" aria-label="password" required="">
                                        <span id="ntoggle" class="input-group-text">
                                            <i class="fas fa-eye-slash"></i>
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4" dmx-hide="varSuccess.value==1">
                                <div class="col">
                                    <label for="inp_confirm_new_password" class="col-form-label">Confirm New Password</label>


                                    <div class="input-group mb-3">

                                        <input type="password" id="inp_confirm_new_password" name="new_password" class="form-control" placeholder="*************" aria-describedby="basic-addon-password" aria-label="password" required="" data-rule-equalto="new_password">
                                        <span id="ctoggle" class="input-group-text">
                                            <i class="fas fa-eye-slash"></i>
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3" dmx-hide="varSuccess.value==1">
                                <div class="col">
                                    <button id="login_submit" class="btn btn-primary w-100 text-light" type="submit">Change Password&nbsp;<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span>
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col text-center mt-3 text-sm fs-6">

                                    <p class="lh-1">
                                        Don't want to change your password?
                                        <a href="/login" internal="true" class="text-decoration-none">Log in</a>.
                                    </p>

                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</main>

<script>
    // const password = document.getElementById("inp_change_password_old");
    // let toggle = document.getElementById("toggle");
       
    // toggle.addEventListener("click", function(e) {
    //     let icon = $(this).is("i");
    //     icon ? toggle = $(this)[0] : toggle = $(this).find("i")[0]
    //     if (password.type === "password") {
    //     password.type = "text";
    //     toggle.classList.remove("fa-eye-slash");
    //     toggle.classList.add("fa-eye");
    //     } else {
    //     password.type = "password";
    //     toggle.classList.remove("fa-eye");
    //     toggle.classList.add("fa-eye-slash");
    //     }
    
    // });

    // const npassword = document.getElementById("inp_change_password_old");
    // let toggle = document.getElementById("ntoggle");
       
    // toggle.addEventListener("click", function(e) {
    //     let icon = $(this).is("i");
    //     icon ? toggle = $(this)[0] : ntoggle = $(this).find("i")[0]
    //     if (npassword.type === "password") {
    //     npassword.type = "text";
    //     ntoggle.classList.remove("fa-eye-slash");
    //     ntoggle.classList.add("fa-eye");
    //     } else {
    //     npassword.type = "password";
    //     ntoggle.classList.remove("fa-eye");
    //     ntoggle.classList.add("fa-eye-slash");
    //     }
    
    // });

    // const cpassword = document.getElementById("input_confirm_new_password");
    // let ctoggle = document.getElementById("ctoggle");
    
    // ctoggle.addEventListener("click", function(e) {
    // let icon = $(this).is("i");
    // icon ? ctoggle = $(this)[0] : ctoggle = $(this).find("i")[0]
    // if (cpassword.type === "password") {
    // cpassword.type = "text";
    // ctoggle.classList.remove("fa-eye-slash");
    // ctoggle.classList.add("fa-eye");
    // } else {
    // cpassword.type = "password";
    // ctoggle.classList.remove("fa-eye");
    // ctoggle.classList.add("fa-eye-slash");
    // }
    
    // });


    document.addEventListener("DOMContentLoaded", function () {
  // Function to toggle password visibility
  function togglePasswordVisibility(inputId, toggleId) {
    const passwordInput = document.getElementById(inputId);
    const toggleButton = document.getElementById(toggleId);

    toggleButton.addEventListener("click", function () {
      const type = passwordInput.type === "password" ? "text" : "password";
      passwordInput.type = type;

      // Toggle eye icon based on password visibility
      if (type === "password") {
        toggleButton.innerHTML = '<i class="fas fa-eye-slash"></i>';
      } else {
        toggleButton.innerHTML = '<i class="fas fa-eye"></i>';
      }
    });
  }

  // Toggle visibility for each password input
  togglePasswordVisibility("inp_change_password_old", "toggle");
  togglePasswordVisibility("inp_change_password_new", "ntoggle");
  togglePasswordVisibility("inp_confirm_new_password", "ctoggle");
});



</script>