<!-- Wappler include head-page="layouts/portal_layout" is="dmx-app" id="dashboard" appConnect="local" bootstrap5="local" fontawesome_6="local" bootstrap_icons="local" jquery_slim_35="cdn" -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Dashboard</h1>
        </div>
    </div>
</div>
<meta name="ac:route" content="/dashboard">