<!-- Wappler include head-page="layouts/portal_layout" bootstrap5="local" is="dmx-app" id="dashboard" appconnect="local" fontawesome_6="local" -->
<meta name="ac:route" content="/dashboard">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Dashboard</h1>
        </div>
    </div>
</div>