<!-- Wappler include head-page="layouts/main" bootstrap5="local" is="dmx-app" id="index" appConnect="local" fontawesome_6="local" components="{dmxBootstrap5Navigation:{}}" -->
<main>
    <section>
        <div class="container"></div>
        <div class="container"></div>
    </section>
</main>

<meta name="ac:route" content="/">