<!-- Wappler include head-page="layouts/main" bootstrap5="local" is="dmx-app" id="index" appConnect="local" fontawesome_6="local" -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home Page</h1>
        </div>
    </div>
</div>
<meta name="ac:route" content="/">