<!-- Wappler include head-page="layouts/main" is="dmx-app" id="noisedetails" appConnect="local" bootstrap5="local" fontawesome_6="local" bootstrap_icons="local" jquery_slim_35="cdn" components="{dmxBootstrap5Navigation:{}}" -->
<meta name="ac:route" content="/noise-details">

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/assets/images/index_photos/gold-lion-logo-removebg-preview.png" alt="Gold Lion Logo" class="bi me-2" width="35" height="35">
            <span class="fs-4">Gold Lion REMA Environmental Database </span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Environmental Data</a>
            </li>
            <li class="nav-item">
                <a href="#" class="btn btn-outline-primary">Login</a>
            </li>
        </ul>
    </header>
</div>