<!-- Wappler include head-page="layouts/portal_layout" is="dmx-app" id="noise" appConnect="local" bootstrap5="local" fontawesome_6="local" bootstrap_icons="local" jquery_slim_35="cdn" components="{dmxBootstrap5Navigation:{},dmxDatePicker:{},dmxBootstrap5Modal:{},dmxValidator:{}}" moment_2="cdn" -->

<dmx-serverconnect id="sc_monitoring_location_type" url="/api/location/monitoring_location_type"></dmx-serverconnect>
<dmx-serverconnect id="sc_monitoring_location_id" url="/api/location/monitoring_location_id"></dmx-serverconnect>

<dmx-serverconnect id="sc_noise_monitoring_date_time" url="/api/noise/date/time"></dmx-serverconnect>
<dmx-serverconnect id="sc_monitoring_locations" url="/api/noise/monitoring_locations" dmx-param:location_id_filter="select_location_id.value" dmx-param:location_type_filter="select_location_type.value"></dmx-serverconnect>
<dmx-serverconnect id="sc_avg_LAeq_location" url="/api/noise/average_LAeq_location"></dmx-serverconnect>

<div class="modal" id="modal_add_data" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Monitoring Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section id="input-file-browser">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="mb-3">
                                <label for="data_file" class="form-label col-form-label">Monitoring Data</label>
                                <input class="form-control" type="file" id="data_file" accept=".csv">
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-12">

                            <div>
                                <label for="data_select" class="form-label col-form-label">Select Monitoring Location</label>
                                <select id="data_select" class="form-select" name="location_id" dmx-bind:options="sc_monitoring_location_id.data.monitoring_location_id" optiontext="org_specific_monitoring_id" optionvalue="location_id">
                                    <option value="">Choose a Location</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add Data</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal_add_monitoring_location" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Monitoring Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form" is="dmx-serverconnect-form" novalidate="" method="post" id="scf_add_monitoring_location" action="/api/location/add_monitoring_location" dmx-on:success="scf_add_monitoring_location.reset();modal_add_monitoring_location.hide()">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="latitude" class="col-form-label">Latitude</label>
                                                        <input type="number" id="latitude" class="form-control" placeholder="Latitude" name="latitude" is="dmx-input" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="longitude" class="col-form-label">Longitude</label>
                                                        <input type="number" id="longitude" class="form-control" placeholder="Longitude" name="longitude" is="dmx-input" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="monitoring_location_id" class="col-form-label">Monitoring Location ID</label>
                                                        <input id="text_monitoring_location" name="location_id" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="country-floating" class="col-form-label">Location Type</label>
                                                        <select id="modal_select_location_type" class="form-select form-control" name="location_type" dmx-bind:options="sc_monitoring_location_type.data.location_type" optiontext="location_type" optionvalue="location_type_id">
                                                            <option value="">All Location Types</option>

                                                        </select>

                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="company-column" class="col-form-label">Description</label>
                                                        <textarea id="text_location_description" class="form-control" name="location_description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="company-column" class="col-form-label">Photos</label>
                                                        <input id="file_location_photos" name="path[]" type="file" class="form-control" multiple="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" dmx-on:click="scf_add_monitoring_location.submit()">Add Location</button>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="row text-end">

        <div class="col text-start">
            <h1 class="fw-normal fs-2">Noise Data Insights</h1>
            <div class="breadcrumb">
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/dashboard">Dashboard</a>
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-bold" href="/noise">Noise</a>
            </div>
        </div>
        <div class="col text-end">
            <button id="btn_add_location" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_monitoring_location">Add Monitoring Location</button><button id="btn_add_noise_data" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#modal_add_data">Add Data</button>
        </div>
    </div>
</section>
<section class="mt-1 mb-3">
    <div class="row">
        <div class="col">
            <select id="select_location_id" class="form-select " name="location_id" dmx-bind:options="sc_monitoring_location_id.data.monitoring_location_id" optiontext="org_specific_monitoring_id" optionvalue="location_id">
                <option value="">All Location IDs</option>

            </select>


        </div>
        <div class="col"><select id="select_location_type" class="form-select " name="location_type" dmx-bind:options="sc_monitoring_location_type.data.location_type" optiontext="location_type" optionvalue="location_type_id">
                <option value="">All Location Types</option>

            </select></div>
        <div class="col"><input id="date_noise_monitoring" name="date" is="dmx-date-range-picker" placeholder="Pick a Date Range" class="form-control "></div>
    </div>
</section>
<section class="mb-3">
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Monitoring Locations</h4>
                    <div id="location_map" style="height: 400px;"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" style="height: 400px;">
                    <h4 class="card-title" id="cardTitle"></h4>
                    <img id="cardImage">
                    <p class="card-text" id="cardContent"></p>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="mb-3">
    <div class="row">
        <div class="col" id="time_series_chart" style="height: 400px;"></div>
    </div>
</section>
<!-- <section>
    <div class="row">
        <div class="col-md-6" id="noise_chart"></div>
        <div class="col-md-6" id="time_of_day_chart"></div>
    </div>
</section> -->


<script src="/js/leaflet_maps/noise_monitoring_locations.js" defer="true"></script>
<script src="/js/highcharts/highcharts_noise/noise_time_series_chart.js" defer="true"></script>
<meta name="ac:route" content="/noise">