<!-- Wappler include head-page="layouts/portal_layout" is="dmx-app" id="noiseinsights" appconnect="local" fontawesome_6="local" bootstrap_icons="local" jquery_slim_35="cdn" components="{dmxBootstrap5Navigation:{},dmxFormatter:{},dmxBootstrap5TableGenerator:{},dmxStateManagement:{},dmxBootstrap5PagingGenerator:{}}" -->
<dmx-serverconnect id="sc_all_noise_locations" url="/api/location/noise_locations"></dmx-serverconnect>
<dmx-serverconnect id="sc_all_monitoring_locations" url="/api/location/all_locations"></dmx-serverconnect>
<dmx-query-manager id="query"></dmx-query-manager>
<dmx-serverconnect id="sc_monitoring_locations" url="/api/location/monitoring_location_id" dmx-on:success="sc_noise_data_chart.load({location: query.m_location})"></dmx-serverconnect>
<dmx-serverconnect id="sc_monitorin_location_type" url="/api/location/monitoring_location_type"></dmx-serverconnect>
<dmx-query-manager id="query_noise"></dmx-query-manager>
<dmx-serverconnect id="sc_noise_data" url="/api/noise/query_noise_data" dmx-param:monitoring_location=""></dmx-serverconnect>
<dmx-serverconnect id="sc_noise_data_chart" url="/api/noise/query_noise" dmx-param:monitoring_location="select_monitoring_location.value" dmx-param:location="select_monitoring_location.value" noload="true" onsuccess="renderNoiseChart()" dmx-param:year=""></dmx-serverconnect>
<meta name="ac:route" content="/noise-insights">

<section class="mb-3">
  <div class="row text-end">

    <div class="col text-start">
      <h1 class="fw-normal fs-2">Noise Data Insights&nbsp;</h1>
      <div class="breadcrumb">
        <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/dashboard">Dashboard</a>
        <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/noise">Noise</a>
        <a class="breadcrumb-item breadcrumb-link fs-5 fw-bold" href="/noise" dmx-bind:href="">{{var_datetime.datetime.getYear(var_datetime.datetime)}}</a>
      </div>
    </div>
    <div class="col">
      <button id="downloadPDF" class="btn btn-primary" dmx-on:click="">Download</button>
    </div>
  </div>
</section>
<section class="mb-3">
  <div class="row">
    <div class="col">
      <select id="select_year" class="form-select" name="start_date_time" onchange="filterByYear()">
        <!-- <option value="">All Years</option> -->
        <option value="" dmx-bind:value="var_datetime.datetime.getYear()">{{var_datetime.datetime.getYear()}}</option>
        <option value="var_datetime.datetime.getYear(var_datetime.datetime)-1">{{var_datetime.datetime.getYear(var_datetime.datetime)-1}}</option>
        <option value="var_datetime.datetime.getYear(var_datetime.datetime)-2">{{var_datetime.datetime.getYear(var_datetime.datetime)-2}}</option>
      </select>
    </div>
    <div class="col">
    </div>
    <div class="col">
      <select id="select_monitoring_location" class="form-select" name="location_id" dmx-bind:options="sc_all_noise_locations.data.noise_locations" optiontext="org_specific_monitoring_id+' '+description" optionvalue="location_id" dmx-bind:value="query.data.m_location" dmx-on:changed="sc_noise_data_chart.load({location: value});query.set('m_location',value)">
        <option value="">Select Monitoring Location</option>
      </select>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div id="monthly_average" class="h-auto"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div id="quarterly_average" class="h-auto"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <!-- <label for="orgSelect">Select Monitoring Location:</label>
          <select id="orgSelect">

          </select> -->
          <div id="time_series_chart_all" class="h-auto"></div>
        </div>
      </div>
    </div>
  </div>
</section>



<script>
  const button = document.getElementById('downloadPDF');
  button.addEventListener('click', () => {
  // Remove the top section
  const topSection = document.getElementById('layout_portal_header');
  if (topSection) {
    topSection.parentNode.removeChild(topSection);
  }

  // Remove the side menu bar
  const sideMenuBar = document.getElementById('sidebar');
  if (sideMenuBar) {
  sideMenuBar.parentNode.removeChild(sideMenuBar);
  }

  const element = document.body;
  const opt = {
    margin: 1,
    filename: 'webpage.pdf',
    image: { type: 'jpeg', quality: 0.98 },
    html2canvas: { scale: 2 },
    jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
  };

  // New Promise-based usage:
  html2pdf().set(opt).from(element).save();
});


// const monthlyAverageChart = document.getElementById('monthly_average');
// const quarterlyAverageChart = document.getElementById('quarterly_average');
// const timeSeriesChart = document.getElementById('time_series_chart_all');

// html2canvas(monthlyAverageChart).then(canvas => {
//   const imgData = canvas.toDataURL('image/png');
//   const pdf = new jsPDF('landscape', 'in', 'legal');
//   pdf.addImage(imgData, 'PNG', 0, 0);
//   return html2canvas(quarterlyAverageChart);
// }).then(canvas => {
//   const imgData = canvas.toDataURL('image/png');
//   pdf.addPage();
//   pdf.addImage(imgData, 'PNG', 0, 0);
//   return html2canvas(timeSeriesChart);
// }).then(canvas => {
//   const imgData = canvas.toDataURL('image/png');
//   pdf.addPage();
//   pdf.addImage(imgData, 'PNG', 0, 0);
//   pdf.save('webpage.pdf');
// });
</script>

<!-- 
<script src="/js/highcharts/highcharts_noise/monthly_avg.js" async="true"></script>
<script src="/js/highcharts/highcharts_noise/quarterly_avg.js" async="true"></script>
<script src="/js/highcharts/highcharts_noise/noise_time_series_chart-copy.js" async="true"></script> -->

<script src="/js/highcharts/highcharts_noise/main.js" async="true"></script>