<!-- Wappler include head-page="layouts/portal_layout" is="dmx-app" id="noise" appConnect="local" bootstrap5="local" fontawesome_6="local" bootstrap_icons="local" jquery_slim_35="cdn" components="{dmxBootstrap5Navigation:{},dmxDatePicker:{},dmxBootstrap5Modal:{},dmxValidator:{},dmxDatastore:{},dmxStateManagement:{}}" moment_2="cdn" -->
<dmx-serverconnect id="sc_noise_data_columns" url="/api/test/noise_data_columns"></dmx-serverconnect>

<dmx-serverconnect id="sc_monitoring_location_type" url="/api/location/monitoring_location_type"></dmx-serverconnect>
<dmx-serverconnect id="sc_monitoring_location_id" url="/api/location/monitoring_location_id"></dmx-serverconnect>

<dmx-serverconnect id="sc_noise_monitoring_date_time" url="/api/noise/noise_data_date_time" dmx-param:monitoring_location="" dmx-param:location_type="" dmx-param:date_time=""></dmx-serverconnect>
<dmx-serverconnect id="sc_monitoring_locations" url="/api/noise/monitoring_locations" dmx-param:location_id_filter="" dmx-param:location_type_filter=""></dmx-serverconnect>

<div class="modal fade" id="modal_add_data" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Monitoring Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-2">
                <section id="input-file-browser">
                    <div class="row">
                        <div class="col">
                            <form action="/api/noise/validate_noise_data" method="post" id="add_noise_data" is="dmx-serverconnect-form" onsuccess="addMappedData()" dmx-on:success="notifies1.success('Noise Monitoring Data Added Successfully.');add_noise_data.reset();modal_add_data.hide();browser.goto('/noise')">

                                <div class="form-group mb-3 row">
                                    <label for="input1" class="col-sm-4 col-form-label">Select Monitoring Location</label>
                                    <div class="col-sm-8">
                                        <select id="select_location" class="form-select" name="location_id" dmx-bind:options="sc_monitoring_location_id.data.monitoring_location_id" optiontext="org_specific_monitoring_id" optionvalue="location_id" required="">
                                            <option value="">Choose a Location</option>

                                        </select><small class="text-muted">Can't see your Monitoring Location? &nbsp;<a href="/add-monitoring-location">Add Location.</a></small>
                                    </div>
                                </div>


                                <div class="form-group mb-3 row">
                                    <label for="data_file" class="col-sm-4 col-form-label">Monitoring Data</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="file" id="data_file" accept=".csv" required="" dmx-on:change="onFileChange($event)" name="data_file">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
                <div id="mapping-container">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn_add_data" dmx-on:click="add_noise_data.submit()">Add Data</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="modal_add_monitoring_location" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Monitoring Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form" is="dmx-serverconnect-form" novalidate="" method="post" id="scf_add_monitoring_location" action="/api/location/add_monitoring_location" dmx-on:success="scf_add_monitoring_location.reset();modal_add_monitoring_location.hide()">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="latitude" class="col-form-label">Latitude</label>
                                                        <input type="number" id="latitude" class="form-control" placeholder="Latitude" name="latitude" is="dmx-input" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="longitude" class="col-form-label">Longitude</label>
                                                        <input type="number" id="longitude" class="form-control" placeholder="Longitude" name="longitude" is="dmx-input" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="monitoring_location_id" class="col-form-label">Monitoring Location ID</label>
                                                        <input id="text_monitoring_location" name="org_specific_monitoring_id" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="country-floating" class="col-form-label">Location Type</label>
                                                        <select id="modal_select_location_type" class="form-select form-control" name="location_type_id" dmx-bind:options="sc_monitoring_location_type.data.location_type" optiontext="location_type" optionvalue="location_type_id">
                                                            <option value="">Select Location Types</option>

                                                        </select>

                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="company-column" class="col-form-label">Description</label>
                                                        <textarea id="text_location_description" class="form-control" name="description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="company-column" class="col-form-label">Photos</label>
                                                        <input id="file_location_photos" name="path[]" type="file" class="form-control" multiple="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" dmx-on:click="scf_add_monitoring_location.submit()">Add Location &nbsp;<span class="spinner-border spinner-border-sm" role="status" dmx-show="scf_add_monitoring_location.state.executing"></span></button>
            </div>
        </div>
    </div>
</div> -->
<section>
    <div class="row text-end">

        <div class="col text-start">
            <h1 class="fw-normal fs-2">Noise Data Insights</h1>
            <div class="breadcrumb">
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/dashboard">Dashboard</a>
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-bold" href="/noise">Noise</a>
            </div>
        </div>
        <div class="col text-end">
            <!-- <button id="btn_add_location" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_monitoring_location">Add Monitoring Location</button> --><button id="btn_add_noise_data" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#modal_add_data">Add Data</button>
        </div>
    </div>
</section>
<section class="mt-1 mb-3">
    <div class="row">
        <div class="col">
            <select id="select_location_id" class="form-select " name="location_id" dmx-bind:options="sc_monitoring_location_id.data.monitoring_location_id" optiontext="org_specific_monitoring_id" optionvalue="location_id">
                <option value="">All Location IDs</option>

            </select>


        </div>
        <div class="col"><select id="select_location_type" class="form-select " name="location_type" dmx-bind:options="sc_monitoring_location_type.data.location_type" optiontext="location_type" optionvalue="location_type_id">
                <option value="">All Location Types</option>

            </select></div>
        <div class="col"><input id="date_monitoring" name="date" is="dmx-date-range-picker" placeholder="Pick a Date Range" class="form-control "></div>
    </div>
</section>
<section class="mb-3 ">
    <div class="row">
        <div class="col-8">
            <div class="card ">
                <div class="card-body">
                    <h4 class="card-title ">Monitoring Locations</h4>
                    <div id="location_map" style="height: 400px;"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <div class="card-body text-justify">
                    <h5 class="card-title " id="cardTitle"></h5>
                    <img src="/assets/images/logo_icon.jpg" alt="Location Photos" width="118px" height="118px">
                    <p class="card-text" id="cardContent"></p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-3">
    <div class="row">
        <div class="card">
            <div class="card-body">

                <div class="col">
                    <label for="orgSelect">Select Monitoring Location:</label>
                    <select id="orgSelect">

                    </select>
                    <div id="time_series_chart_two" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="/js/Insert%20Monitoring%20Data/Noise/add_noise_data.js" async="true"></script>
<script src="/js/leaflet_maps/noise_monitoring_locations.js" async="true"></script>
<script src="/js/highcharts/highcharts_noise/noise_time_series_chart.js" async="true"></script>
<meta name="ac:route" content="/noise">