<!-- Wappler include head-page="layouts/securityLayout" bootstrap5="local" id="login" fontawesome_6="local" components="{dmxValidator:{},dmxBootstrap5Alert:{},dmxBrowser:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxFormatter:{}}" is="dmx-app" appConnect="local" -->
<meta name="ac:route" content="/request-password-reset">


<style>
    main {
        margin-left: 0 !important;
    }

    #toggle {
        cursor: pointer;
    }
</style>
<main class="p-4 style1" id="forgot_password_page">
    <div class="container card card-body shadow" id="forgot_password_form">
        <div class="row p-4 justify-content-center">
            <div class="col">
                <form id="scf_request_password" method="post" is="dmx-serverconnect-form" action="/api/security/request_password" dmx-on:success="browser.goto('/login')" dmx-on:unauthorized="alertmessage.setTextContent('Unauthorized!');alertmessage.show()">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-center">
                                    <a href="/"><img class="img-fluid" width="80px" dmx-bind:src="sc_security_app_data.data.query.where(`field_name`, 'logo', '==')[0].field_value"></a>

                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col text-center">
                                    <h1>Forgot Password</h1>
                                    <p>Enter your account email, and a link will be sent to you to reset your password.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="alert" id="alertmessage" is="dmx-bs5-alert" role="alert" type="danger">
                                        <p>Alert message</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col ">
                                    <label for="inp_email" class="col-form-label col-form-label-lg">Email</label>
                                    <input type="email" id="inp_email" name="email" class="form-control form-control-lg" placeholder="name@domain.com" required="" data-msg-required="email is required.">
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-auto align-self-center"><a href="/login" internal="true">
                                        <p><i class="fa-solid fa-arrow-left-long"></i>&nbsp;Return to Login</p>
                                    </a></div>
                                <div class="col">
                                    <button id="login_submit" class="btn btn-primary w-100 text-light btn-lg" type="submit">Reset Password</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</main>




<meta name="ac:route" content="/Login">