<!-- Wappler include head-page="layouts/portal_layout" is="dmx-app" id="waterquality" appConnect="local" bootstrap5="local" fontawesome_6="local" bootstrap_icons="local" jquery_slim_35="cdn" components="{dmxBootstrap5Modal:{},dmxBootstrap5Navigation:{},dmxDatePicker:{}}" moment_2="cdn" -->
<dmx-serverconnect id="sc_water_data"></dmx-serverconnect>
<meta name="ac:route" content="/water-quality">

<dmx-serverconnect id="sc_monitoring_location_type" url="/api/location/monitoring_location_type"></dmx-serverconnect>
<dmx-serverconnect id="sc_monitoring_location_id" url="/api/location/monitoring_location_id"></dmx-serverconnect>


<div class="modal fade" id="modal_add_data" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Monitoring Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-2">
                <section id="input-file-browser">
                    <div class="row">
                        <div class="col">
                            <form action="/api/noise/validate_noise_data" method="post" id="add_water_data" is="dmx-serverconnect-form" onsuccess="addMappedData()" dmx-on:success="notifies1.success('Noise Monitoring Data Added Successfully.');add_water_data.reset();modal_add_data.hide();browser.goto('/water-quality')">

                                <div class="form-group mb-3 row">
                                    <label for="input1" class="col-sm-4 col-form-label">Select Monitoring Location</label>
                                    <div class="col-sm-8">
                                        <select id="select_location" class="form-select" name="location_id" dmx-bind:options="sc_monitoring_location_id.data.monitoring_location_id" optiontext="org_specific_monitoring_id" optionvalue="location_id" required="">
                                            <option value="">Choose a Location</option>

                                        </select><small class="text-muted">Can't see your Monitoring Location? &nbsp;<a href="/add-monitoring-location">Add Location.</a></small>
                                    </div>
                                </div>


                                <div class="form-group mb-3 row">
                                    <label for="data_file" class="col-sm-4 col-form-label">Monitoring Data</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="file" id="data_file" accept=".csv" required="" dmx-on:change="onFileChange($event)" name="data_file">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
                <div id="mapping-container">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn_add_data" dmx-on:click="add_water_data.submit()">Add Data</button>
            </div>
        </div>
    </div>
</div>




<section>
    <div class="row text-end">

        <div class="col text-start">
            <h1 class="fw-normal fs-2">Water Quality Data Insights</h1>
            <div class="breadcrumb">
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/dashboard">Dashboard</a>
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-bold" href="/water-quality">Water Quality</a>
            </div>
        </div>
        <div class="col text-end">
            <button id="btn_add_noise_data" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#modal_add_data">Add Water Data</button>
        </div>
    </div>
</section>

<section class="mt-1 mb-3">
    <div class="row">
        <div class="col">
            <select id="select_location_id" class="form-select " name="location_id" dmx-bind:options="sc_monitoring_location_id.data.monitoring_location_id" optiontext="org_specific_monitoring_id" optionvalue="location_id">
                <option value="">All Location IDs</option>

            </select>


        </div>
        <div class="col"><select id="select_location_type" class="form-select " name="location_type" dmx-bind:options="sc_monitoring_location_type.data.location_type" optiontext="location_type" optionvalue="location_type_id">
                <option value="">All Location Types</option>

            </select></div>
        <div class="col"><input id="date_monitoring" name="date" is="dmx-date-range-picker" placeholder="Pick a Date Range" class="form-control "></div>
    </div>
</section>


<section class="mb-3">
    <div class="row">
        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <h4 class="card-title">Monitoring Locations</h4>
                    <div id="location_map" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mb-3">
    <div class="row">
        <div class="card">
            <div class="card-body">

                <div class="col">
                    <label for="orgSelect">Select Monitoring Location:</label>
                    <select id="orgSelect">

                    </select>
                    <div id="time_series_chart_two" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/Insert%20Monitoring%20Data/Water%20Quality/add_water_data.js" async="true"></script>
<script src="/js/leaflet_maps/water_quality_monitoring_locations.js" async="true"></script>
<script src="/js/highcharts/highcharts_water_quality/water_quality_time_series.js" async="true"></script>