<!-- Wappler include head-page="layouts/portal_layout" is="dmx-app" id="waterinsights" appConnect="local" bootstrap5="local" fontawesome_6="local" bootstrap_icons="local" jquery_slim_35="cdn" components="{dmxBootstrap5Navigation:{},dmxStateManagement:{}}" -->
<meta name="ac:route" content="/water-insights">
<dmx-serverconnect id="sc_year" url="/api/water_quality/water_data_year"></dmx-serverconnect>
<dmx-query-manager id="query_water"></dmx-query-manager>
<dmx-serverconnect id="sc_water_data" url="/api/water_quality/water_data"></dmx-serverconnect>
<dmx-serverconnect id="sc_monitoring_locations" url="/api/location/monitoring_location_id"></dmx-serverconnect>
<dmx-serverconnect id="sc_monitorin_location_type" url="/api/location/monitoring_location_type"></dmx-serverconnect>
<meta name="ac:route" content="/water-data">

<section>
    <div class="row text-end">

        <div class="col text-start">
            <h1 class="fw-normal fs-2">Water Quality Insights</h1>
            <div class="breadcrumb">
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/dashboard">Dashboard</a>
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/water-quality">Water Quality</a>
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-bold" href="/noise" dmx-bind:href="">{{var_datetime.datetime.getYear(var_datetime.datetime)}}</a>
            </div>
        </div>
    </div>
</section>

<section class="mb-3">
    <div class="row">
        <div class="col">
            <select id="select_year" class="form-select" name="date" dmx-bind:options="sc_water_data.data.water_data.data" optionvalue="date" optiontext="date.getYear(date)">
                <option value="">All Years</option>

            </select>
        </div>
        <div class="col">
            <select id="select_monitoring_location" class="form-select" name="location_id" dmx-bind:options="sc_monitoring_locations.data.monitoring_location_id" optiontext="org_specific_monitoring_id" optionvalue="org_specific_monitoring_id">
                <option value="">All Monitoring Locations</option>
            </select>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div id="monthly_chart" class="h-auto"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div id="quarterly_chart" class="h-auto"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <label for="orgSelect">Select Monitoring Location:</label>
                    <select id="orgSelect">

                    </select>
                    <div id="time_series_chart_all" class="h-auto"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/highcharts/highcharts_water_quality/monthly_quarterly_charts.js" async="true"></script>