<!-- Wappler include head-page="layouts/portal_layout" is="dmx-app" id="waterinsights" appConnect="local" bootstrap5="local" fontawesome_6="local" bootstrap_icons="local" jquery_slim_35="cdn" components="{dmxBootstrap5Navigation:{},dmxStateManagement:{}}" -->

<!-- Include the main Highcharts library -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- Include any additional modules you might need -->
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<dmx-serverconnect id="sc_query_water" url="/api/water_quality/query_water_data"></dmx-serverconnect>
<dmx-serverconnect id="sc_water_locations" url="/api/location/water_locations"></dmx-serverconnect>
<meta name="ac:route" content="/water-insights">
<dmx-serverconnect id="sc_year" url="/api/water_quality/water_data_year"></dmx-serverconnect>
<dmx-serverconnect id="sc_monitoring_locations" url="/api/location/monitoring_location_id" dmx-on:success="sc_noise_data_chart.load({location: query.m_location})"></dmx-serverconnect>
<meta name="ac:route" content="/water-data">



<section>
    <div class="row text-end">

        <div class="col text-start">
            <h1 class="fw-normal fs-2">Water Quality Insights</h1>
            <div class="breadcrumb">
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/dashboard">Dashboard</a>
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/water-quality">Water Quality</a>
                <!-- <a class="breadcrumb-item breadcrumb-link fs-5 fw-bold" href="/noise" dmx-bind:href="">{{var_datetime.datetime.getYear(var_datetime.datetime)}}</a> -->
            </div>
        </div>
    </div>
</section>

<!-- Add these at the top of your body -->
<div id="loading" style="display: none;">Loading...</div>
<div id="error-message" style="display: none;" class="alert alert-danger"></div>

<section class="mb-3">
    <div class="row">
        <div class="col">
            <select id="filterByYear" class="form-select">

            </select>
        </div>
        <div class="col">
            <select class="form-control" id="filterByMonth">


            </select>
        </div>

        <div class="col">
            <button id="exportPDF" class="btn btn-primary">
                <i class="fas fa-file-pdf"></i> Export as PDF
            </button>
        </div>

    </div>
</section>

<div class="exportPage">

    <section class="mb-3">
        <div class="row">
            <div class="col">
                <div id="chartStatus" class="alert alert-info">
                    <!-- Status will be populated dynamically -->
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <!-- Bar charts container -->
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div id="chart_temperature" class="h-auto"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div id="chart_pH" class="h-auto"></div>
                    </div>
                </div>
            </div>



            <!-- Repeat this structure for the remaining charts -->
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div id="chart_ORP_mV" class="h-auto"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div id="chart_EC" class="h-auto"></div>
                    </div>
                </div>
            </div>

            <!-- Continue for Resistivity, TDS_ppm, salinity_psu, pressure_psi, DO_percentage, turbidity_FNU -->
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div id="chart_Resistivity" class="h-auto"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div id="chart_TDS_ppm" class="h-auto"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div id="chart_salinity_psu" class="h-auto"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div id="chart_pressure_psi" class="h-auto"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div id="chart_DO_percentage" class="h-auto"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div id="chart_turbidity_FNU" class="h-auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<script>
    document.getElementById('exportPDF').addEventListener('click', function() {
    // Show loading state
    const button = this;
    const originalText = button.innerHTML;
    button.innerHTML = '<i class="fas fa-spinner fa-spin"></i> Generating PDF...';
    button.disabled = true;

    // Get the content to export
    const content = document.querySelector('.exportPage');

    // Configure PDF options
    const opt = {
        margin: [10, 10],
        filename: 'water-quality-charts.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { 
            scale: 2,
            useCORS: true,
            logging: false
        },
        jsPDF: { 
            unit: 'mm', 
            format: 'a4', 
            orientation: 'portrait' 
        }
    };

    // Generate PDF
    html2pdf().set(opt)
        .from(content)
        .save()
        .then(function() {
            // Restore button state
            button.innerHTML = originalText;
            button.disabled = false;
        })
        .catch(function(error) {
            // Handle errors
            console.error('PDF generation failed:', error);
            button.innerHTML = originalText;
            button.disabled = false;
            alert('Failed to generate PDF. Please try again.');
        });
});
</script>


<script src="/js/highcharts/highcharts_water_quality/parameters.js" async="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>