<!-- Wappler include head-page="layouts/portal_layout" is="dmx-app" id="waterinsights" appConnect="local" bootstrap5="local" fontawesome_6="local" bootstrap_icons="local" jquery_slim_35="cdn" components="{dmxBootstrap5Navigation:{},dmxStateManagement:{}}" -->
<dmx-serverconnect id="sc_query_water" url="/api/water_quality/query_water_data"></dmx-serverconnect>
<dmx-serverconnect id="sc_water_locations" url="/api/location/water_locations"></dmx-serverconnect>
<meta name="ac:route" content="/water-insights">
<dmx-serverconnect id="sc_year" url="/api/water_quality/water_data_year"></dmx-serverconnect>
<dmx-serverconnect id="sc_monitoring_locations" url="/api/location/monitoring_location_id" dmx-on:success="sc_noise_data_chart.load({location: query.m_location})"></dmx-serverconnect>
<meta name="ac:route" content="/water-data">



<section>
    <div class="row text-end">

        <div class="col text-start">
            <h1 class="fw-normal fs-2">Water Quality Insights</h1>
            <div class="breadcrumb">
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/dashboard">Dashboard</a>
                <a class="breadcrumb-item breadcrumb-link fs-5 fw-light" href="/water-quality">Water Quality</a>
                <!-- <a class="breadcrumb-item breadcrumb-link fs-5 fw-bold" href="/noise" dmx-bind:href="">{{var_datetime.datetime.getYear(var_datetime.datetime)}}</a> -->
            </div>
        </div>
    </div>
</section>

<section class="mb-3">
    <div class="row">
        <div class="col">
            <select id="filterByYear" class="form-select">

            </select>
        </div>
        <div class="col">
            <select class="form-control" id="filterByMonth">


            </select>
        </div>

    </div>
</section>
<section>
    <div class="row">
        <!-- Bar charts container -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart_temperature" class="h-auto"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart_pH" class="h-auto"></div>
                </div>
            </div>
        </div>

        <!-- Repeat this structure for the remaining charts -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart_ORP_mV" class="h-auto"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart_EC" class="h-auto"></div>
                </div>
            </div>
        </div>

        <!-- Continue for Resistivity, TDS_ppm, salinity_psu, pressure_psi, DO_percentage, turbidity_FNU -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart_Resistivity" class="h-auto"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart_TDS_ppm" class="h-auto"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart_salinity_psu" class="h-auto"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart_pressure_psi" class="h-auto"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart_DO_percentage" class="h-auto"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart_turbidity_FNU" class="h-auto"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/js/highcharts/highcharts_water_quality/parameters.js" async="true"></script>